:root {
--primary-color: #092635;
--text-primary-color: #000;
--text-secondary-color: #fff;
--text-tertiary-color: #713aff;
--background-primary-color: #fff;
--background-secondary-color: #16023e;
--accent-color: #ff5cc5;
--border-color: #d1d5db;
--font-size: 16;
--font-family: IBM Plex Sans;
--line-height: 1.5;
--h1-margin: 0 0 1.5rem 0;
--h1-padding: 0;
--h1-font-size: 3.62rem;
--h1-font-weight: 700;
--h1-line-height: 4.25rem;
--h2-margin: 0 0 2rem 0;
--h2-padding: 0;
--h2-font-size: 2rem;
--h2-font-weight: 600;
--h2-line-height: 2.25rem;
--h3-margin: 2rem 0 2rem 0;
--h3-padding: 0;
--h3-font-size: 1.25rem;
--h3-font-weight: 600;
--h3-line-height: 1.625rem;
--h4-margin: 0 0 1.5rem 0;
--h4-padding: 0;
--h4-font-size: 1rem;
--h4-font-weight: 600;
--h4-line-height: 1.375rem;
--h5-margin: 0 0 1.5rem 0;
--h5-padding: 0;
--h5-font-size: 1rem;
--h5-font-weight: 600;
--h5-line-height: 1.375rem;
--h6-margin: 0 0 1.5rem 0;
--h6-padding: 0;
--h6-font-size: 1rem;
--h6-font-weight: 600;
--h6-line-height: 1.375rem;
--p-margin: 1.5rem 0 1.5rem 0;
--p-padding: 0;
--p-font-size: 1.125rem;
--p-font-weight: 400;
--p-line-height: 1.625rem;
}
